<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление категории</title>
</head>
<body>
    <h2>Добавление категории</h2>
    <form method="post" action="{% url 'add_category' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить категорию</button>
    </form>
    <a href="{% url 'news_list' %}">Вернуться к списку новостей</a>
</body>
</html>
